.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    padding: 20px;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover {
    background-color: white;
    color: rgba(25, 25, 25, 1);
}

@media (max-width: 500px) {
    .Button {
        padding: 10px;
        width: 115px;
        height: 50px;
    }
}