.LobbyScreen_InfoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.LobbyScreen_LobbyText {
    font-size: 28px;
    margin-right: 20px;
}

@media (max-width: 500px) {
    .LobbyScreen_InfoWrapper {
        flex-direction: column;
    }

    .LobbyScreen_LobbyText {
        margin-bottom: 15px;
        margin-right: 0px;
    }
}